Host github.com
  IdentityFile ~/.ssh/github_ssh_2026_04.pub

Host aws-ec2-1
  HostName {{ .hosts.ec2_1 }}
  IdentityFile ~/.ssh/aws_ssh_key_pair_2025_02_02.pub

Host aws-ec2-2
  HostName {{ .hosts.ec2_2 }}
  IdentityFile ~/.ssh/aws_ssh_key_pair_2025_02_02.pub

Host rpi
  HostName {{ .hosts.rpi_ip }}
  IdentityFile ~/.ssh/pi_ssh_key_2025.pub

Host beelink
  HostName {{ .hosts.beelink_ip }}
  IdentityFile ~/.ssh/id_rsa.pub

Host smitty-beelink.tailscale
  HostName {{ .hosts.beelink_tailscale }}
  IdentityFile ~/.ssh/id_rsa.pub

Host *
#  ControlMaster auto
#  ControlPersist 10m
#  ServerAliveInterval 20
#  ServerAliveCountMax 1
#  ControlPath /Users/smittyweygant/.ssh/sockets/%C
#  ControlPath /Users/smittyweygant/.ssh/sockets/%r@%h-%p

Host *
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
